@model IEnumerable<DeliUsaid.Models.Locales>

@{
    ViewBag.Title = "Principal";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-5">
            <p style="color:black">@item.Nombre</p>
            <div class="row jumbotron">
                @Html.Partial("_Platos", (List<DeliUsaid.Models.Platos>)ViewBag.platos, new ViewDataDictionary { { "id", item.IdLocal.ToString()},{ "limit",2} })
            </div>
        </div>
            <div class="offset-sm-1"></div>
        }
    </div>
</div>