* {
    margin: 0;
    padding: 0;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #e1ecf2;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 10px;
    background: #ffffff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

    .navbar ul li a {
        background: #F62104;
        color: #ffffff;
        padding: 7.5px;
        min-width: 125px;
    }

        .navbar ul li a:hover {
            background: #ffc107;
            color: #fff;
            padding: 7.5px;
        }

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
a {
    text-decoration: none;
}

.LogoSM {
    padding: 30px 50px;
}

img {
    width: 100px;
    height: 85px;
    margin: -40px auto -40px;
}

.TextLogo {
    font-size: 16px;
    font-family: 'Lobster', cursive;
}

.icon {
    font-size: 20px;
    line-height: 19px;
}

    .icon.i {
        float: right;
        margin-left: 10px;
    }

    .icon.d {
        float: left;
        margin-right: 10px;
    }

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F8DDE2;
    color: #F62104;
    transition: all 0.3s;
}



    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #F8DDE2;
    }


    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 25px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            background: #F62104;
            color: #ffffff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #F62104;
        min-width: 100px;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.menu ul {
    display: none;
}

/*btn boostrap bell*/
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 7px 10px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-warning {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

    .btn-warning:hover {
        color: #fff;
        background-color: #e0a800;
        border-color: #d39e00;
    }

/*Desplegable de usuario Navbar*/
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 130px;
    padding: .5rem 0;
    margin: .125rem;
    font-size: 1rem;
    color: #F62104;
    text-align: left;
    list-style: none;
    background-color: #F8DDE2;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}



/*Card de pantalla principal*/
body {
    background: #eee;
}

span {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}
